$black: #032529;
$white: #fff;
$red: #C83737;

.backImg {
	h1 {
		margin: 2% auto auto auto;
		padding-bottom: 30px;
		text-align: center;
		font-size: 40px;
		color: #032529;
		text-shadow: 5px 5px 10px $red;
	}
}
.center {
	margin: 25px auto 120px auto;
	padding: 20px 10px;
	background-color: rgba(200, 55, 55, 0.5);	
	color: $black;
	font-weight: 700;
	font-size: 20px;
	width: 50%;
	border-radius: 25px;
}
.marquee {
    width: 97%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    span {
	    display: inline-block;
	    padding-left: 100%;
	    animation: marquee 15s linear infinite;
	}
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media screen and (max-width:767px) {
	.backImg {
		h1 {
			font-size: 35px;
		}
	}
	.center {
		margin: 25px auto 100px auto;
		font-size: 16px;
		width: 70%;
		padding: 10px;
	}
}

@media screen and (max-width:480px) {
	.backImg {
		h1 {
			font-size: 25px;
		}
	}
	.center {
		margin: 30px auto 80px auto;
		font-weight: 400;
		font-size: 15px;
		width: 70%;
	}
}