%page-properties {
	min-height: 100vh;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 40px;
}
%button-properties {
	background: none;
	border: 2px solid;
	text-decoration: none;
	font-weight: 700;
	padding: 20px 40px;
	border-radius: 4px;
	color: var(--color);
	transition: 0.25s;

	&:hover,
	&:focus { 
		border-color: var(--hover);
		color: #C83737;
	}
}

$colors: (
  fill: #fff,
  pulse: #C83737, 
  raise: #fff
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 15deg)};
  }
}

.backImg {
	background-image: url(../../img/developer.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 94vh;
	@extend %page-properties;
	.raise {
		display: inline-block;
		background-color: rgba(200, 55, 55, 0.5);
		@extend %button-properties;
		&:hover,
		&:focus {
			color: #fff;
		}
	}
	.raise:hover,
	.raise:focus {
	  box-shadow: 0 8px 8px -6px var(--hover);
	  transform: translateY(-4px);
	}
}
.about {
	@extend %page-properties;
	.pulse{
		@extend %button-properties;
	}
	.pulse:hover, 
	.pulse:focus {
	  animation: pulse 1s;
	  box-shadow: 0 0 0 32px rgba(#fff,0);
	}

	@keyframes pulse {
	  0% { box-shadow: 0 0 0 0 var(--hover); }
	}
}
.myWork {
	@extend %page-properties;
	padding-bottom: 100px;
	.fill {
		@extend %button-properties;
	}
	.fill:hover,
	.fill:focus {
	  box-shadow: inset 0 0 0 32px var(--hover);
	}
}
.contact-page {
	@extend %page-properties;
}

@media screen and (max-width:767px) {
%buttons-mdl {
	font-weight: 500;
	padding: 12px 24px;
}
	.backImg {
		min-height: 78vh;
		.raise {
			@extend %buttons-mdl;
		}
	}
	.about {
		.pulse {
			@extend %buttons-mdl;
		}
	}
	.myWork {
		.fill {
			@extend %buttons-mdl;
		}
	}
}

@media screen and (max-width:480px) {
%buttons-sml {
	font-weight: 450;
	padding: 10px 20px;
}
	.backImg {
		min-height: 93vh;
		.raise {
			@extend %buttons-sml;
		}
	}
	.about {
		.pulse {
			@extend %buttons-sml;
		}
	}
	.myWork {
		.fill {
			@extend %buttons-sml;
		}
	}
}